@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */
:root {
  --pluto: #000;
  --mars: #696969;
  --saturn: #ccc;
  --venus: #fff;
}

*,
*::after,
*::before {
  margin: 0;
}

body {
  
  background: #3333;
  font-family: 'Montserrat', sans-serif;
  
  justify-content: center;
  display: flex;
}

input,
textarea,
button {
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

section:not(:first-child) {
  padding-top: 57px;
  padding-bottom: 100px;
}

section:not(:first-child) h1 {
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--saturn);
  width: fit-content;
}

/* NAIVGATION */

nav {
  border-bottom: 1px solid var(--saturn);
  position: fixed;
  width: 100%;
  background-color: var(--venus);
  box-shadow: 0px 1px 10px #999;
}

.nav-wrap {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  color: var(--mars);
  font-size: 0.9rem;
}
nav ul li a {
  padding: 1rem 0;
  display: block;
  border-bottom: 4px solid transparent;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav ul li:not(:last-child) {
  margin-right: 4.5rem;
}

nav ul li a.active,
nav ul li a:hover {
  border-bottom: 4px solid var(--pluto);
  color: var(--pluto);
}

.nav-toggle {
  display: none;
  z-index: 200;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: center/cover no-repeat url('./images/bars-solid.svg');
  transition: all 0.3s ease;
}

.nav-toggle.active {
  background: center/cover no-repeat url('./images/times-solid.svg');
}

/* PAGE CONTAINER */
.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
}

/* HOME */
#home {
  height: 100vh;
  display: flex;
  align-items: center;
}

.landing-content {
  flex: 1;
}

.landing-content img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.landing-content p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.landing-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.landing-content ul {
  display: flex;
}

#home ul li {
  color: var(--mars);
  transition: all 0.3s ease;
  cursor: pointer;
}

#home ul li:not(:last-child) {
  margin-right: 1.5rem;
}
#home ul li:hover {
  color: var(--pluto);
}

.landing-banner {
  width: 100%;
  max-width: 400px;
}

/* WORK */
.work-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
}

.work-card {
  max-width: 300px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.work-card img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  flex: 1;
}
.work-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.work-details p {
  font-weight: 600;
  font-size: 0.9rem;
}
.work-details ul {
  display: flex;
}
.work-details ul li {
  color: var(--mars);
  transition: all 0.3s ease;
}
.work-details ul li:hover {
  color: var(--pluto);
}
.work-details ul li:first-child {
  margin-right: 2rem;
}

/* ABOUT */
.about-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 3rem;
}

.about-info {
  display: flex;
  align-items: center;
}
.about-info > div h4 {
  margin: 0.5rem 0 1rem 0;
}
.about-info > div p {
  font-weight: 600;
  color: var(--mars);
}

#about ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

#about ul li {
  display: flex;
  align-items: center;
  margin: 2rem;
}

#about ul li span {
  font-weight: 600;
}

#about ul li img {
  width: 50px;
  object-fit: contain;
  margin-right: 0.5rem;
}
/*CSS for information section */


#information {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
#information h1 {
  margin-bottom: 1rem;
}
#information p {
  margin-top: 1rem;
}




.information {
  font-weight: bold;
  font-size: 2.5rem; 
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.infor{
  margin: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  box-shadow: -1px 0 10px #000000;
  text-align: center;
}
.infor h1 {
  margin-bottom: 10px;
}
.infor p{
  margin-top: 10px;
}

.cover{
  max-width: 800px;
  margin: 0 auto;
}

.nick-image {
  max-width: 330px;
  height: 500px;
  display: flex;
  border: 3px solid #fff;
  border-radius: 5%;
  float: left;

}
/*Itemporarily deactivated the .inform class in the html page to test the code*/

.inform {
  
  text-align: left;
}


/* CONTACT */
#contact header {
  margin-top: 5rem;
}

.contact-border {
  background-color: var(--saturn);
  height: 1px;
}
.contact-info {
  text-align: center;
}

.contact-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin: -2rem 0 0.5rem 0;
}
.contact-info__desc {
  font-weight: 600;
  color: var(--mars);
}

/* FORM */
form {
  max-width: 768px;
  margin: 4rem auto 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.5rem;
}

.form-group label {
  color: var(--mars);
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  padding: 0.5rem;
  outline: none;
  border: 1px solid var(--saturn);
}

form input:focus,
form textarea:focus {
  border: 1px solid var(--pluto);
}

form input:focus + label,
form textarea:focus + label {
  color: var(--pluto);
}

form button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  display: block;
  margin: 0 auto;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */
footer {
  border-top: 1px solid var(--saturn);
  text-align: center;
  padding: 1rem;
}

.footer-desc {
  margin-top: 0.3rem;
}

footer ul {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

footer ul li {
  color: var(--mars);
  transition: all 0.3s ease;
}

footer ul li:hover {
  color: var(--pluto);
}

footer ul li:not(:last-child) {
  margin-right: 3rem;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  section:not(:first-child) {
    padding-bottom: 50px;
  }
  /* NAVIGATION */
  nav {
    padding: 1rem 0;
  }
  .nav-toggle {
    display: block;
  }
  nav ul {
    width: 60%;
    position: fixed;
    right: -1rem;
    bottom: 0;
    top: 0;
    padding: 4rem 2rem 2rem 2rem;
    background: var(--venus);
    height: 100%;
    z-index: 100;
    box-shadow: 2px 0 10px black;
    transform: translateX(100%);
    flex-direction: column;
    transition: all 0.3s linear;
  }
  nav ul li:not(:last-child) {
    margin-right: 0;
  }
  nav ul.active {
    transform: translateX(0);
    transition: all 0.3s linear;
  }

  /* LANDING BANNER */
  .landing-banner {
    display: none;
  }

  /* WORK */
  .work-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ABOUT */
  .about-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-avatar {
    margin: 0 0 1rem 0;
  }
  #about ul li {
    margin: 0.5rem;
  }
}

@media (max-width: 500px) {
  /* WORK */
  .work-cards {
    grid-template-columns: 1fr;
  }
}
.about{
  text-align: center;
}
.img-responsive{
  width: 100%;
}
